In [0]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("concrete_data.csv")
df.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
Cement                1030 non-null float64
Blast Furnace Slag    1030 non-null float64
Fly Ash               1030 non-null float64
Water                 1030 non-null float64
Superplasticizer      1030 non-null float64
Coarse Aggregate      1030 non-null float64
Fine Aggregate        1030 non-null float64
Age                   1030 non-null int64
Strength              1030 non-null float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [0]:
sorted = df.sort_values('Strength', ascending=False)
low = sorted.tail()
high = sorted.head()

In [18]:
low.describe()

           Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
count    5.000000            5.000000      5.0  ...        5.000000  5.0  5.000000
mean   125.440000          162.660000      0.0  ...      856.540000  3.0  3.966000
std     21.577604           40.800098      0.0  ...       86.184413  0.0  1.103146
min    102.000000          102.000000      0.0  ...      748.500000  3.0  2.330000
25%    108.300000          153.000000      0.0  ...      800.100000  3.0  3.320000
50%    122.600000          162.400000      0.0  ...      849.000000  3.0  4.570000
75%    141.300000          183.900000      0.0  ...      942.000000  3.0  4.780000
max    153.000000          212.000000      0.0  ...      943.100000  3.0  4.830000

[8 rows x 9 columns]

In [19]:
high.describe()

           Cement  Blast Furnace Slag  ...        Age   Strength
count    5.000000            5.000000  ...   5.000000   5.000000
mean   391.700000          159.560000  ...  51.800000  80.788000
std     90.147463          103.549351  ...  26.003846   1.333968
min    315.000000            0.000000  ...  28.000000  79.400000
25%    323.700000          137.000000  ...  28.000000  79.990000
50%    389.900000          189.000000  ...  56.000000  80.200000
75%    389.900000          189.000000  ...  56.000000  81.750000
max    540.000000          282.800000  ...  91.000000  82.600000

[8 rows x 9 columns]

In [48]:
from sklearn.model_selection import train_test_split

features = df.drop("Strength", axis=1)
features['Age'] = features['Age'].astype("float64")
target = df['Strength']
print(features['Age'].head())
train_x, test_x, train_y, test_y = train_test_split(features, target, test_size=0.2, random_state=43)

0     28.0
1     28.0
2    270.0
3    365.0
4    360.0
Name: Age, dtype: float64

AttributeError: ignored

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [0]:
def regressionModel(n_cols):
  model = Sequential()
  model.add(Dense(50, activation="relu", input_shape=(n_cols,)))
  model.add(Dense(50, activation="relu"))
  model.add(Dense(1))

  model.compile(optimizer="adam", loss="mean_squared_error")
  return model

In [86]:
neural_network = regressionModel(train_x.shape[1])
neural_network.fit(train_x, train_y, validation_split=0.2, verbose=2, epochs=100)

Train on 659 samples, validate on 165 samples
Epoch 1/100
 - 0s - loss: 1927.5400 - val_loss: 836.2590
Epoch 2/100
 - 0s - loss: 483.9171 - val_loss: 357.2844
Epoch 3/100
 - 0s - loss: 280.0220 - val_loss: 225.8058
Epoch 4/100
 - 0s - loss: 224.4457 - val_loss: 203.5755
Epoch 5/100
 - 0s - loss: 190.3517 - val_loss: 197.7541
Epoch 6/100
 - 0s - loss: 172.0740 - val_loss: 172.4720
Epoch 7/100
 - 0s - loss: 155.2369 - val_loss: 157.9990
Epoch 8/100
 - 0s - loss: 140.2176 - val_loss: 146.2896
Epoch 9/100
 - 0s - loss: 132.1338 - val_loss: 138.7023
Epoch 10/100
 - 0s - loss: 124.0075 - val_loss: 139.9797
Epoch 11/100
 - 0s - loss: 115.8505 - val_loss: 122.5048
Epoch 12/100
 - 0s - loss: 113.5328 - val_loss: 123.7045
Epoch 13/100
 - 0s - loss: 112.5830 - val_loss: 115.4612
Epoch 14/100
 - 0s - loss: 102.7998 - val_loss: 109.4342
Epoch 15/100
 - 0s - loss: 94.0903 - val_loss: 115.9466
Epoch 16/100
 - 0s - loss: 89.0854 - val_loss: 103.9668
Epoch 17/100
 - 0s - loss: 83.7758 - val_loss: 98.2664
Epoch 18/100
 - 0s - loss: 80.4818 - val_loss: 98.0023
Epoch 19/100
 - 0s - loss: 81.0936 - val_loss: 98.7378
Epoch 20/100
 - 0s - loss: 77.0528 - val_loss: 95.6383
Epoch 21/100
 - 0s - loss: 74.5201 - val_loss: 94.0464
Epoch 22/100
 - 0s - loss: 75.2620 - val_loss: 107.1801
Epoch 23/100
 - 0s - loss: 78.1344 - val_loss: 82.9832
Epoch 24/100
 - 0s - loss: 69.4769 - val_loss: 82.3565
Epoch 25/100
 - 0s - loss: 68.3252 - val_loss: 84.0788
Epoch 26/100
 - 0s - loss: 65.8257 - val_loss: 104.9405
Epoch 27/100
 - 0s - loss: 74.4103 - val_loss: 89.0079
Epoch 28/100
 - 0s - loss: 71.9610 - val_loss: 80.7595
Epoch 29/100
 - 0s - loss: 78.6065 - val_loss: 81.4022
Epoch 30/100
 - 0s - loss: 82.1026 - val_loss: 111.6703
Epoch 31/100
 - 0s - loss: 68.1471 - val_loss: 75.5011
Epoch 32/100
 - 0s - loss: 61.8338 - val_loss: 74.2771
Epoch 33/100
 - 0s - loss: 63.9157 - val_loss: 74.3824
Epoch 34/100
 - 0s - loss: 60.7063 - val_loss: 71.6453
Epoch 35/100
 - 0s - loss: 64.7637 - val_loss: 78.1079
Epoch 36/100
 - 0s - loss: 55.3288 - val_loss: 81.4599
Epoch 37/100
 - 0s - loss: 62.9053 - val_loss: 69.5418
Epoch 38/100
 - 0s - loss: 62.0936 - val_loss: 66.5141
Epoch 39/100
 - 0s - loss: 59.4969 - val_loss: 67.8286
Epoch 40/100
 - 0s - loss: 61.1293 - val_loss: 66.6870
Epoch 41/100
 - 0s - loss: 55.8300 - val_loss: 78.3787
Epoch 42/100
 - 0s - loss: 53.5667 - val_loss: 64.2518
Epoch 43/100
 - 0s - loss: 53.0131 - val_loss: 64.1117
Epoch 44/100
 - 0s - loss: 54.9281 - val_loss: 88.0600
Epoch 45/100
 - 0s - loss: 52.1425 - val_loss: 62.3301
Epoch 46/100
 - 0s - loss: 50.1097 - val_loss: 60.0691
Epoch 47/100
 - 0s - loss: 49.8105 - val_loss: 70.7658
Epoch 48/100
 - 0s - loss: 68.9745 - val_loss: 97.0591
Epoch 49/100
 - 0s - loss: 65.6430 - val_loss: 63.0887
Epoch 50/100
 - 0s - loss: 53.3876 - val_loss: 58.8142
Epoch 51/100
 - 0s - loss: 55.5039 - val_loss: 68.1078
Epoch 52/100
 - 0s - loss: 62.1187 - val_loss: 81.9031
Epoch 53/100
 - 0s - loss: 57.5504 - val_loss: 59.9176
Epoch 54/100
 - 0s - loss: 48.3235 - val_loss: 62.1345
Epoch 55/100
 - 0s - loss: 53.1005 - val_loss: 61.4312
Epoch 56/100
 - 0s - loss: 47.5493 - val_loss: 58.0033
Epoch 57/100
 - 0s - loss: 49.7847 - val_loss: 60.1115
Epoch 58/100
 - 0s - loss: 52.0507 - val_loss: 89.2869
Epoch 59/100
 - 0s - loss: 51.3491 - val_loss: 74.4252
Epoch 60/100
 - 0s - loss: 61.9390 - val_loss: 59.7536
Epoch 61/100
 - 0s - loss: 47.0084 - val_loss: 57.6153
Epoch 62/100
 - 0s - loss: 44.6014 - val_loss: 60.4190
Epoch 63/100
 - 0s - loss: 44.2940 - val_loss: 58.8949
Epoch 64/100
 - 0s - loss: 45.3051 - val_loss: 57.8723
Epoch 65/100
 - 0s - loss: 44.1688 - val_loss: 58.6160
Epoch 66/100
 - 0s - loss: 44.9511 - val_loss: 64.2647
Epoch 67/100
 - 0s - loss: 48.9119 - val_loss: 67.9454
Epoch 68/100
 - 0s - loss: 49.4541 - val_loss: 79.8270
Epoch 69/100
 - 0s - loss: 48.8305 - val_loss: 95.0916
Epoch 70/100
 - 0s - loss: 51.2010 - val_loss: 54.9811
Epoch 71/100
 - 0s - loss: 45.3932 - val_loss: 64.3587
Epoch 72/100
 - 0s - loss: 47.5139 - val_loss: 71.5439
Epoch 73/100
 - 0s - loss: 51.8643 - val_loss: 99.3570
Epoch 74/100
 - 0s - loss: 54.3516 - val_loss: 74.4290
Epoch 75/100
 - 0s - loss: 46.8350 - val_loss: 56.6752
Epoch 76/100
 - 0s - loss: 43.5645 - val_loss: 60.8761
Epoch 77/100
 - 0s - loss: 46.3139 - val_loss: 54.8524
Epoch 78/100
 - 0s - loss: 43.5977 - val_loss: 57.9663
Epoch 79/100
 - 0s - loss: 46.1019 - val_loss: 53.3573
Epoch 80/100
 - 0s - loss: 47.2624 - val_loss: 61.2078
Epoch 81/100
 - 0s - loss: 56.1728 - val_loss: 79.1364
Epoch 82/100
 - 0s - loss: 49.9266 - val_loss: 52.7997
Epoch 83/100
 - 0s - loss: 42.4829 - val_loss: 56.3091
Epoch 84/100
 - 0s - loss: 40.9873 - val_loss: 57.8821
Epoch 85/100
 - 0s - loss: 44.5629 - val_loss: 57.9990
Epoch 86/100
 - 0s - loss: 50.8860 - val_loss: 51.6459
Epoch 87/100
 - 0s - loss: 39.2388 - val_loss: 50.3916
Epoch 88/100
 - 0s - loss: 50.8529 - val_loss: 80.8439
Epoch 89/100
 - 0s - loss: 46.5787 - val_loss: 50.7002
Epoch 90/100
 - 0s - loss: 44.1762 - val_loss: 51.9182
Epoch 91/100
 - 0s - loss: 48.4693 - val_loss: 59.0742
Epoch 92/100
 - 0s - loss: 39.3412 - val_loss: 49.4336
Epoch 93/100
 - 0s - loss: 39.4254 - val_loss: 50.8272
Epoch 94/100
 - 0s - loss: 38.7811 - val_loss: 49.1092
Epoch 95/100
 - 0s - loss: 40.5682 - val_loss: 49.0383
Epoch 96/100
 - 0s - loss: 56.9587 - val_loss: 72.7388
Epoch 97/100
 - 0s - loss: 47.3609 - val_loss: 61.6444
Epoch 98/100
 - 0s - loss: 41.4054 - val_loss: 59.9124
Epoch 99/100
 - 0s - loss: 43.0070 - val_loss: 50.7375
Epoch 100/100
 - 0s - loss: 40.4013 - val_loss: 50.2012

In [0]:
from sklearn.metrics import mean_squared_error

def performance(y_hat, y):
  print("MSE: {}".format(mean_squared_error(y, y_hat)))

In [88]:
y_hat = neural_network.predict(test_x)
performance(y_hat, test_y)

MSE: 54.419043932804044

In [89]:
from sklearn.linear_model import LinearRegression

model_lr = LinearRegression().fit(train_x, train_y)
y_hat_l = model_lr.predict(test_x)

performance(y_hat_l, test_y)

MSE: 110.31918845884442