In [2]:
import pandas as pd
import numpy as np

In [68]:
# Getting the movies data
movies = pd.read_csv("dataset/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [69]:
# Getting the movies rating by each user
ratings = pd.read_csv("dataset/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [70]:
# Getting the user details
#users = pd.read_csv("dataset/links.csv")
#users.head()

### Data Preprocessing

In [71]:
# Fixing the title and extracting year from it
movies['year'] = movies.title.str.extract("(\d\d\d\d)", expand=False)
movies.head()
movies['title'] = movies.title.str.replace('(\(\d\d\d\d\))','')
movies['title'] = movies.title.apply(lambda d: d.strip())
movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [72]:
# Splitting the genres text into list of genres
movies['genres'] = movies.genres.str.split('|')
movies.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [73]:
# Creating a column for each genres in the movieWithGenreTable

movie_with_genre = movies.copy()
movie_with_genre

for index, row in movie_with_genre.iterrows():
    for genre in row['genres']:
        movie_with_genre.at[index, genre] = 1

movie_with_genre = movie_with_genre.fillna(0)
movie_with_genre.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
# Removing the timestamp column as it will not be useful in a simple recommendation system
ratings = ratings.drop("timestamp", axis=1)
ratings.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [75]:
# Lets take a user input

userInput = [
    {"title" : "Toy Story", "rating" : 10},
    {"title" : "Jumanji", 'rating' , 9},
    {'title' : "Paranormal ActivitY: The Marked Ones", 8},
    {'title' : 'Avengers, The', 9},
    {'title' : "Dark Knight Rises, The", 10},
    {'title' : "Insidious Chapter 3", 8},
    {'title' : "Avengers: Age of Ultron", 8},
    {'title' : "G.I. Joe: Retaliation", 9}
]

SyntaxError: invalid syntax (<ipython-input-75-3f3b0577ccfd>, line 5)

In [103]:
movies[movies['year'] == '2013'].head(50)

,movieId,title,genres,year
19277,95595,Bela Kiss: Prologue,"[Horror, Mystery, Thriller]",2013
20158,99007,Warm Bodies,"[Comedy, Horror, Romance]",2013
20236,99335,Addicted,[Drama],2013
20339,99721,Texas Chainsaw 3D,"[Horror, Mystery, Thriller]",2013
20342,99728,Gangster Squad,"[Action, Crime, Drama]",2013
20360,99787,"Haunted House, A","[Comedy, Horror]",2013
20369,99813,"Batman: The Dark Knight Returns, Part 2","[Action, Animation]",2013
20399,99910,"Last Stand, The","[Action, Crime, Thriller]",2013
20400,99912,Mama,[Horror],2013
20402,99917,Upstream Color,"[Romance, Sci-Fi, Thriller]",2013
20410,99957,Broken City,"[Crime, Drama, Thriller]",2013
20453,100083,Movie 43,[Comedy],2013
20464,100108,Parker,"[Crime, Thriller]",2013
20476,100163,Hansel & Gretel: Witch Hunters,"[Action, Fantasy, Horror, IMAX]",2013
20502,100244,"East, The",[Drama],2013
20543,100347,Finding Joy,[Comedy],2013
20545,100359,"Haunting in Connecticut 2: Ghosts of Georgia, The","[Drama, Horror, Thriller]",2013
20552,100383,Side Effects,"[Crime, Drama, Mystery, Thriller]",2013
20554,100390,Identity Thief,"[Comedy, Crime]",2013
20558,100401,21 tapaa pilata avioliitto,"[Comedy, Romance]",2013
20571,100442,Drogówka,"[Comedy, Crime, Drama]",2013
20583,100487,Beautiful Creatures,"[Drama, Fantasy, Romance]",2013
20588,100498,"Good Day to Die Hard, A","[Action, Crime, Thriller, IMAX]",2013
20591,100507,21 and Over,[Comedy],2013
20599,100527,Safe Haven,"[Drama, Mystery, Romance]",2013
20622,100611,Escape from Planet Earth,"[Adventure, Animation, Comedy, Sci-Fi]",2013
20623,100613,Saving Lincoln,[Drama],2013
20633,100714,Before Midnight,"[Drama, Romance]",2013
20643,100737,Snitch,"[Action, Drama, Thriller]",2013
20647,100745,TPB AFK: The Pirate Bay Away from Keyboard,[Documentary],2013
20648,100756,I aionia epistrofi tou Antoni Paraskeva,[Drama],2013
20650,100810,Dark Skies,"[Horror, Sci-Fi, Thriller]",2013
20657,100882,Journey to the West: Conquering the Demons (Da...,"[Adventure, Comedy, Fantasy, Romance, IMAX]",2013
20672,101025,Jack the Giant Slayer,"[Adventure, Fantasy, IMAX]",2013
20674,101060,"Last Exorcism Part II, The","[Horror, Thriller]",2013
20681,101076,G.I. Joe: Retaliation,"[Action, Adventure, Sci-Fi, Thriller, IMAX]",2013
20684,101088,Stoker,"[Drama, Mystery, Thriller]",2013
20685,101097,Phantom,[Thriller],2013
20688,101106,Sound City,[Documentary],2013
20689,101112,Oz the Great and Powerful,"[Action, Adventure, Fantasy, IMAX]",2013
20694,101137,Dead Man Down,"[Action, Crime, Drama, Romance, Thriller]",2013
20695,101142,"Croods, The","[Adventure, Animation, Comedy]",2013
20741,101281,I Give It a Year,"[Comedy, Romance]",2013
20742,101283,"Incredible Burt Wonderstone, The",[Comedy],2013
20743,101285,Spring Breakers,"[Comedy, Crime, Drama]",2013
20748,101296,I'm So Excited (Los amantes pasajeros),[Comedy],2013
20764,101360,"Call, The","[Drama, Thriller]",2013
20765,101362,Olympus Has Fallen,"[Action, Thriller]",2013
20768,101379,InAPPropriate Comedy,[Comedy],2013
20782,101428,Kill for Me,"[Drama, Thriller]",2013