In [1]:
import pandas as pd
import numpy as np

### Importing data

In [28]:
# Getting the basic movie data
movies_df = pd.read_csv("dataset/movies.csv")

# Getting datasets that contains users's rating for each movie they watched
rating_df = pd.read_csv("dataset/ratings.csv")

In [29]:
movies_df.head(4)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance

### Preprocessing

In [30]:
# Fixing the year and title of the movie dataset

# Added the year column
movies_df['year'] = movies_df['title'].str.extract("(\(\d\d\d\d\))", expand=False)
movies_df['year'] = movies_df['year'].str.extract("(\d\d\d\d)")

# Fixed the title of each movies
movies_df['title'] = movies_df['title'].str.replace("(\(\d\d\d\d\))", "")
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

In [31]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [33]:
rating_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [34]:
# Removing timestamp from rating table

rating_df = rating_df.drop("timestamp", axis=1)

In [35]:
rating_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

### Collaborative Filtering Recommendation System  
The idea behind this type of system is to understand the exist relationships between users and items. There are two types of collaborative filtering - User based and Item based.  

1 - In User based collaborative system, the system recommends movies to a user that are highly rated by the similar user group. In simpler terms, it first compare the user with other users and finds one that are most similar, then it recommends the movie that these similar users liked or rated high overall. 

2 - In Item based collaborative system, the system recommends movies to a user that are similar to a movie watched by the user, which also highly rated by other users

----

__User Based collaborative system__  

Steps required to create a user based collaborative system
1. Get the target user who you want to recommend movies.
2. Find similarity of the targeted users with all users in the database.
3. Find users with highest similarity